:root {
  font-size: 62.5%;
}
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "SUITE-Regular";
}
header {
  position: sticky;
  top: 0;
  background-color: #1e1e20;
  z-index: 500;
}
.header {
  width: 128rem;
  height: 8.45rem;
  display: flex;
  flex-direction: row;
  margin: auto;
}
a {
  color: white;
}

.cls-section:nth-child(1),
.cls-section:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.cls-section:nth-child(2) {
  /* display: flex; */
  /* align-items: center; */
  margin-left: 1rem;
}
.nav {
  font-size: 1.6rem;
}
.nav-a {
  font-weight: bold;
  padding: 0 1rem;
  transition-duration: 0.1s;
  text-decoration: none;
  overflow: hidden;
}
.nav-a > img {
  width: 100%;
}
nav > ul > li {
  /* height: 7.2rem; */
  float: left;
  position: relative;
}

nav > ul {
  width: 100%;
  list-style-type: none;
}
nav > ul > li > a {
  display: flex;
  align-items: center;
  text-align: center;
  height: 8.45rem;
}
nav ul a {
  margin: 0 1rem;
  text-decoration: none;
}
nav ul ul li {
  height: 5rem;
}
nav ul ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 5rem;
  color: black;
  margin: auto 0;
}
nav > ul > li:hover {
  background-color: rgb(147, 251, 1);
}
nav > ul > li > a:hover {
  color: black;
}
nav > ul > li:hover > ul {
  display: block;
}
nav ul ul a:hover {
  background-color: blue;
  color: white;
}
nav ul > li > ul {
  background-color: rgb(147, 251, 1);
  color: black;
  list-style-type: none;
  position: absolute;
  width: 100%;
}
nav ul > li > ul > li {
  /* border: 0.1rem solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cls-section:nth-child(1) {
  width: 15%;
}
.cls-section:nth-child(2) {
  width: 50%;
}
.cls-section:nth-child(3) {
  width: 35%;
}

.section-form {
  width: 30rem;
}

.search-login {
  display: flex;
}
.cls-login {
  margin: 0 2rem;
}
.cls-login > a {
  text-decoration: none;
  margin: 0 2rem;
}
