*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  
}


/******************************헤더*************************************/

:root {
  font-size: 62.5%;
 
}

.header {
  width: 100%;
  height: 7.2rem;
  display: flex;
  flex-direction: row;
  margin: auto;
  background-color: rgb(0, 0, 0);
}
a {
  color: rgb(255, 253, 253);
}
.cls-section {
  font-size: 1.6rem;
 
}
.cls-section:nth-child(1),
.cls-section:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cls-section:nth-child(2) {
  display: flex;
  align-items: center;
}

.nav-a {
  font-weight: bold;
  padding: 1.5rem;
  border-radius: 0.5rem;
  transition-duration: 0.1s;
  text-decoration: none;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  list-style-type: none;
}
.nav ul a {
  margin: 0 1rem;
}
.nav ul a:hover {
  background-color: rgb(0, 255, 0);
  color: rgb(0, 0, 0);
}
.cls-section:nth-child(1) {
  width: 15%;
}
.cls-section:nth-child(2) {
  width: 50%;
}
.cls-section:nth-child(3) {
  width: 35%;
}
.cls-search {
  width: 25rem;
  height: 3rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  display: flex;
}
.search-btn {
  width: 90%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}
.section-form {
  width: 30rem;
}
.btn-search {
  width: 10%;
}
.search-login {
  display: flex;
}
.cls-login {
  margin-left: 2rem;
}
.cls-login > a {
  text-decoration: none;
}

/*******************************************이미지*********************************/

.image{
  width: 100%;
  height: 300px;
  
}

/************************************리스트*************************************************/


.list{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.list button{
  
  border: none;
  cursor: pointer;
  transition: .4s ease-in;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.btn:hover{

  background-color: rgb(0, 255, 0);
  color: black;
}





/**************************************바디**********************************/

.body{
  
  width: 1280px;
  min-height: 100vh;
  margin: auto;
  background-color: rgb(255, 255, 255);
 
}
/***********************************************************/
.text{
  width: 100%;
  height: 10vh;
  border: 1px solid rgb(0, 0, 0);
}



.selecttext{
  width: 100%;
  height: 10vh;
  display: flex;
  
}



.btn-text{
  width: 70px;
  height: 40px;
  cursor: pointer;
  margin: 30px 10px;
  background-color: white;
  font-weight: bold;
  
  
}


.btn-text:hover{
  background-color: rgb(0, 255, 0);
  
}

/***********************************************/

.board{
  width: 100%;
  height: 80vh;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  
}

/*************************************************/


.foot{
  width: 100%;
  height: 10vh;
  border: 1px solid rgb(0, 0, 0);
  
}

.btn-write{
  
}