*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.list{
  margin-top: 30px;
  margin-left: 20px;

}





.creative{
  width: 150;
  height: 150px;
  box-sizing: border-box;
  
  margin: 16px;

  cursor: pointer;

  
}

.creative:hover{
  background-color: rgb(249, 247, 247);
}

.pdf{
  width: 150;
  height: 150px;
  box-sizing: border-box;
  
  margin: 16px;

  cursor: pointer;
}

.pdf:hover{
  background-color: rgb(249, 247, 247);
}


.maketing{
  width: 150;
  height: 150px;
  box-sizing: border-box;
  
  margin: 16px;

  cursor: pointer;
}

.maketing:hover{
  background-color: rgb(249, 247, 247);
}

.do{
  width: 250;
  height: 150px;
  
  margin: 16px;

  cursor: pointer;
}

.do:hover{
  background-color: rgb(249, 247, 247);
}


.login{
  width: 150;
  height: 150px;
  
  margin: 16px;

  cursor: pointer;
}

.main{
  width: 100%;
  height: 700px;
  margin-top: 20px;

  background: linear-gradient(rgb(143, 124, 219), rgb(189, 179, 230));
}

