*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

 /* main,header,footer,section,article,nav,div{border: 1px solid black;}   */

body{
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
}


main{
  width: 100vw;
  flex-grow: 1;
  min-height: 500px;
}




/*---------------------------------- 홈 로고 --------------------------------- */

#home-logo{
  width: 100px;
  height: auto;
}


/*--------------------------------- 네비게이터---------------------------------- */

nav>section:nth-of-type(1){
  width: 10%;
}

nav>section:nth-of-type(2){
  width: 90%;
}
nav{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10000;
  display: flex;
  margin-top: 30px;
  margin-left: 50px;
}

.sec>ul{
  display: flex;
  list-style: none;
  padding-left: 30px;
  height: 100%;
  
}

nav li{
  flex: 0 1 200px;   /* grow  shrink  basis(너비) */
}

nav a{
  text-decoration: none;  
  color: black;
  font-size: 13px;
  font-weight: bold;
  padding: 14px 0;  
  text-align: center; 
  height: 100%;
  border-radius: 5px;
  transition-duration: 0.1s;

  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:hover{
  background-color: rgb(235, 232, 232);
  color: black;
}



/* -----------------------------------------content1---------------------------------------- */
.content1{
  width: 100vw;
  height: 550px;
  margin-top: 20px;
  
  position: relative;
  
}

.content-1-1{
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(143, 124, 219), rgb(189, 179, 230));
}


.cls{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 20%;
}

.cls1{
  font-weight: bold;
  margin-top: 10px;
  font-size : 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.cls2{
  font-weight: bold;
  margin-top: 10px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.cls3{
  margin-top: 30px;
  font-size: 20px;
  
}
.cls4{
  margin-top: 10px;
  font-size: 20px;
}

/* -----------------------------------------content2---------------------------------------- */
.content2{
  width: 100vw;
  height: 50px;
  
}

.content2-1{
  display: flex;
  list-style: none;
  padding-left: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 13px;
  
}
.Create{
  font-weight: bold;
  font-size: 14px;
}


.list{
  padding-left: 20px;
}

a{
  text-decoration: none;
  color: rgb(11, 11, 136);
}

  

/* -----------------------------------------content3---------------------------------------- */




.test1{
  width: 100vw;
  height: 400px;
}




.test1-1{
  width: 550px;
  height: 100%;
  float: left;
  margin-left: 3%;
  position: relative;
}

.test1-1 > div{
  position: absolute;
  top: 0;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  
  
}

.photo{
  color: white;
}

.photo-1{
  font-size: 15px;
  padding-top: 8px;
  color: white;
}



.test1-2{
  position: relative;
  width: 550px;
  height: 100%;
  float: left;
  margin-left: 3%;
}

.test1-2 > div{
  position: absolute;
  top: 0;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 25px;
  font-weight: bold;
  font-family: fantasy
}

.project{
  font-size: 15px;
  padding-top: 8px;
  

}


.test1-3{
  position: relative;
  width: 550px;
  height: 100%;
  float: left;
  margin-left: 3%;
}


.test1-3 > div{
  position: absolute;
  top: 0;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}




.light{
  font-size: 15px;
  padding-top: 8px;
  
}



/* -----------------------------------------content4---------------------------------------- */

.test2{
  width: 100vw;
  height: 400px;
  margin-top: 20px;
  
  
}

.test2-1{
  width: 1160px;
  height: 100%;
  float: left;
  margin-left: 3%;
  position: relative;
  
}

.test2-1>div{
  position: absolute;
  top: 0;
  
  padding-top: 30px;
  padding-left: 30px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  
}


.test2-2{
  width: 550px;
  height: 100%;
  float: left;
  margin-left: 3%;
  background: linear-gradient(rgb(116, 228, 243), rgb(185, 230, 236));
  margin-top: 20;
  position: relative;
  
  
}

.test2-2-1{
  position: absolute;
  margin-top: 20px;
  left: 30px;

}

.cre{
  font-weight: bold;
  list-style: none;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}



/* -----------------------------------------content5---------------------------------------- */



.content5{
  position: relative;
}


.test3{
  width: 100vw;
  height: 400px;
  margin-top: 20px;
  background: linear-gradient(rgb(175, 72, 223), rgb(204, 169, 238));
}

.text{
  position: absolute;
  top: 90px;
  left: 400px;
}


.text1{
  font-weight: bold;
  font-size: 30px;
  font-family:sans-serif
}

.text2{
  font-weight: bold;
  font-size: 30px;
}

.text3{
  font-weight: bold;
  font-size: 30px;
}
.text4{

  font-size: 15px;
  margin-top: 10px;
}
.text5{

  font-size: 15px;
}



 /* -----------------------------------------content6---------------------------------------- */
.test4{
  width: 100vw;
  height: 400px;
  margin-top: 20px;
  
}

.test4-1{
  width: 550px;
  height: 100%;
  float: left;
  margin-left: 3%;
  position: relative;
}

.test4-1>div{
  position: absolute;
  top: 0;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 25px;
  font-weight: bold;
}



.test4-2{
  width: 550px;
  height: 100%;
  float: left;
  margin-left: 3%;
  position: relative;
}

.test4-2>div{
  position: absolute;
  top: 0;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 25px;
  font-weight: bold;

}

.test4-3{
  width: 550px;
  height: 100%;
  float: left;
  margin-left: 3%;
  background: linear-gradient(rgb(219, 113, 113), rgb(176, 101, 211));
  position: relative;
  
}

.test4-3>div{
    position: absolute;
    top: 0;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: bold;

  }
  

/* -----------------------------------------footer---------------------------------------- */

.foot{
  width: 100vw;
  height: 250px;
  margin-top: 50px;
  
}

.foot1{
  width: 15%;
  height: 100%;
  float: left;
}
.foot2{
  width: 70%;
  height: 100%;
  float: left;
}

.foot2-1{
  width: 20%;
  height: 100%;
  float: left;

}
.foot3{
  width: 15%;
  height: 100%;
  float: left;
}





