 <div class="header">
      <section class="cls-section">
        <div class="nav">
          <a href="#" class="nav-a" id="nav-logo">로고</a>
        </div>
      </section>
      <section class="cls-section">
        <div class="nav">
          <nav>
            <ul>
              <li id="nav-li">
                <a href="#" class="nav-a" id="nav-1">커뮤니티</a>
                <ul id="nav-li-ul">
                  <li>
                    <a href="#" id="long">긴 글</a>
                  </li>
                  <li>
                    <a href="#" id="short">짧은 글</a>
                  </li>
                </ul>
              </li>
              <li><a href="#" class="nav-a" id="nav-2">지식in</a></li>
              <li><a href="#" class="nav-a" id="nav-3">쇼츠</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section class="cls-section">
        <form action="#">
          <div class="cls-search">
            <input type="text" class="search-btn" />
            <button class="btn-search">
              <img src="../../static/images/search_icon.png" id="img-search" />
            </button>
          </div>
        </form>
        <div class="cls-login">
          <a href="#">로그인</a>
        </div>
      </section>
    </div>
  </header>
  
  
