<div class="list">
    <ul class="menu">
      <li>
          <a href="#">축구</a>
          <ul class="submenu">
          <li><a href="#">국내축구</a></li>
          <li><a href="#">해외축구</a></li>
          </ul>
      </li>
      <li>
          <a href="#">야구</a>
          <ul class="submenu">
          <li><a href="#">submenu01</a></li>
          <li><a href="#">submenu02</a></li>
          </ul>
      </li>
      <li>
          <a href="#">농구</a>
          <ul class="submenu">
          <li><a href="#">submenu01</a></li>
          <li><a href="#">submenu02</a></li>
          </ul>
      </li>
      <li>
          <a href="#">배구</a>
          <ul class="submenu">
          <li><a href="#">submenu01</a></li>
          <li><a href="#">submenu02</a></li>
          </ul>
      </li>
      <li>
          <a href="#">테니스</a>
          <ul class="submenu">
          <li><a href="#">submenu01</a></li>
          <li><a href="#">submenu02</a></li>
          </ul>
      </li>
      <li>
          <a href="#">헬스</a>
          <ul class="submenu">
          <li><a href="#">submenu01</a></li>
          <li><a href="#">submenu02</a></li>
          </ul>
      </li>
      <li>
          <a href="#">기타</a>
          <ul class="submenu">
          <li><a href="#">submenu01</a></li>
          <li><a href="#">submenu02</a></li>
          </ul>
      </li>
      </ul>
    
  </div>