

<div class="list">
    <ul class="menu">
        <li>
            <a href="/board/1">전체</a>
        </li>
      <li>
          <a href="/board/2">축구</a>
          <ul class="submenu">
          <li><a href="#">국내축구</a></li>
          <li><a href="#">해외축구</a></li>
          </ul>
      </li>
      <li>
          <a href="board/3">야구</a>
          <ul class="submenu">
          <li><a href="#">submenu01</a></li>
          <li><a href="#">submenu02</a></li>
          </ul>
      </li>
      <li>
          <a href="/board/4">농구</a>
          <ul class="submenu">
          <li><a href="#">submenu01</a></li>
          <li><a href="#">submenu02</a></li>
          </ul> 
      </li>
      
      
      <li>
          <a href="/board/5">헬스</a>
          <ul class="submenu">
          <li><a href="#">submenu01</a></li>
          <li><a href="#">submenu02</a></li>
          </ul>
      </li>
      <li>
          <a href="/board/6">기타</a>
          <ul class="submenu">
          <li><a href="#">submenu01</a></li>
          <li><a href="#">submenu02</a></li>
          </ul>
      </li>
      
      </ul>
    
  </div>
