<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/headerList.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">



    <header>
      <th:block th:replace="~{common/header}"></th:block>
      <th:block th:replace="~{common/headerList}"></th:block>
    </header>
  </head>

  <body>

    <main>
     

        <div class="search">
          <form action="#" method="get" id="list-search">
            <input type="text" class="search-input"  placeholder="검색어를 입력하세요">
            <button>검색</button>
          </form>
        </div>


    
      <div class="selectBox">
        <button class="btn-select">전체</button>
        <button class="btn-select">긴글</button>
        <button class="btn-select">짧은글</button>
      </div>


      
      <div class="community">
        <div class="com-left"></div>
        <div class="com-center">
          <table class="list-table" border="1">
                      
            <thead>
                <tr>
                  <th>글번호</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>작성일</th>
                  <th>조회수</th>
                  <th>좋아요</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>임시 번호</td>
                <td><a>임시 제목</a></td>
                <td>임시 닉네임</td>
                <td>임시 날짜</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="com-right">
          <div>
            <ul>
              <li class="shortkey">단축키</li>
              <li><a href="#">1.축구</a></li>
              <li><a href="#">2.야구</a></li>
              <li><a href="#">3.농구</a></li>
              <li><a href="#">4.배구</a></li>
              <li><a href="#">5.테니스</a></li>
              <li><a href="#">6.헬스</a></li>
              <li><a href="#">7.기타</a></li>
            </ul>
          </div>
        </ㅇ>
      </div>

    </main>

    <footer>
      <th:block th:replace="~{common/footer}"></th:block>
    </footer>
      
    <th:block th:replace = "~{common/common}"></th:block>
  </body>
</html>