<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 글쓰기</title>

    <link rel="stylesheet" href="../../static/css/write.css">

</head>
<body>
    <div class="img">
        <img src="../img/토트넘2.jpeg" style="width: 70%; height: 100%;">
    </div>
    <br>

    <main>
        <form class="write">
            <input type="text" placeholder="제목을 입력해주세요." required>
            <hr>
            <input type="text" placeholder="내용을 입력해주세요." class="text" required>
            <div class="button">
                <p><a href="#">글쓰기</a><a href="#">취소</a></p>
            </div>
        </form>
    </main>
 
    
</body>
</html>